<!doctype html>
<html lang="es" xmlns:th="thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Custom css  -->
<link rel="stylesheet" href="../css/styles.css">

  <title>RidersAdminClientList</title>
</head>

<body>
  <div class="container-fluid">

    
	
		<div th:insert="templates/headerAdmin :: headerAdmin"></div>

		<div th:insert="templates/navbarAdmin :: navbarAdmin"></div>
		
		
    <!-- Cuerpo Principal -->
    <section>
        <div class="row indexBody">
          <div class="col-12 col-md-8 bg-light">1Columna
              <h2>Clientes</h2>
              <p>Tabla con todos los clientes de la aplicación </p>
              <p>los campos que apareceran
                 dependerán del tamaño de la pantalla</p>
              
          </div>
          <div class="col-12 col-md-4 bg-success">2Columna
              <p>selectores de filtrado para la tabla</p>
              <p>Se ponen debajo cuando el tamaño de pantalla es más pequeño</p>
              
            </div>
        </div>
    </section>
     
		
		<!-- Footer -->
		<div th:insert="templates/footer :: footer"></div>
		
  </div><!-- Fin container principal -->

  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  
</body>
</html>