<!doctype html>
<html lang="es" xmlns:th="thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
 <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
<!-- DataTables -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
   <!-- Custom css  -->
<link rel="stylesheet" href="../css/styles.css">

  <title>adminRidersRiderList</title>
</head>

<body>
  <div class="container-fluid">
	<!-- Header -->
	<div th:insert="templates/headerAdmin :: headerAdmin"></div>
	<!-- NavBar -->
	<div th:insert="templates/navbarAdmin :: navbarAdmin"></div>
    <!-- Cuerpo Principal -->
    <section>
        <div class="row indexBody">        	          	
          	<div class="col-12 bg-light">
            	<h2 class = "text-center">Riders</h2>
            	            	              
				<!--Tabla Todos los Riders de la Aplicación-->
	  			<div th:insert="admin/ridersTotales :: ridersTotales"></div>    
       		</div>          	
        </div>
    </section>
    <!-- Footer -->
	<div th:insert="templates/footer :: footer"></div>
		
  </div><!-- Fin container principal -->
  
  	<!-- JQuery -->
	<script
  		src="https://code.jquery.com/jquery-3.6.0.min.js"
  		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  		crossorigin="anonymous">
	</script>
	
	<!-- Plugin Jquery DataTable -->
  	<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  	
  	<!-- BootStrap -->
	<script src="../js/bootstrap.min.js"></script>
   
   <!-- Configuración DataTable -->
	<script>
		$(document).ready(function(){
    		$('#tablaRidersTotales').DataTable({
        		dom: 'Bfrtip'
    		});
		});  
	</script>  

</body>
</html>