<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <!-- Includes 
  Nos permite reutilizar pantilas como headers, footers, etc...-->
  <script src="../js/includeHtml.js"></script>

  <!--Estilos css -->
  <style>
.indexBody{
  height: 400px;
}
/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 30px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */  
}

  </style>
  <title>RidersAdminClientDetail</title>
</head>

<body>
  <div class="container-fluid">
    <!--Header-->
    <div w3-include-html="../templates/headerAdmin.html"></div>
    
        <!--NavBar-->
    <div w3-include-html="../templates/navbarAdmin.html"></div>

    <!-- Cuerpo Principal -->
    <section>
        <div class="row indexBody">
          <div class="col-12 col-md-4 bg-light">1Columna
              <h2>Cliente.Detalle</h2>
              <p>formulario con todos los datos del cliente y marcados los no actualizables</p>
              <p>boton de actualizar perfil</p>
              <p>Botón de Eliminar cliente</p>
          </div>
          <div class="col-12 col-md-8 d-none d-md-block bg-success">
              <p>Tabla ultimos pedidos del Cliente</p>
              <p>se mostrarán solo los campos que quepan en el contenedor, pero típicamente
                  id, fecha, status y el campo de editar pedido
              </p>
              <p>Desaparece en modo tablet y movil</p>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <div w3-include-html="../templates/footer.html"></div>
  </div><!-- Fin container principal -->
  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script>
    //Includes
  includeHTML(); 
  </script>
</body>
</html>