<!doctype html>
<html lang="es" xmlns:th="thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

   <!-- Custom css  -->
<link rel="stylesheet" href="../css/styles.css">

  <title>RidersAdminOrderList</title>
</head>

<body>
  <div class="container-fluid">
	
		<div th:insert="templates/headerAdmin :: headerAdmin"></div>

		<div th:insert="templates/navbarAdmin :: navbarAdmin"></div>
		
		
    <!-- Cuerpo Principal -->
    <section>
        <div class="row indexBody">        	          	
          	<div class="col-12 bg-light">
            	<h2 class = "text-center">Pedidos</h2>              
<!--    INSERTADA TABLA DE PEDIDOS INYECTADOS DESDE EL AdminController -->              
              	<div th:insert="pedidos/pedidosTotales :: pedidosTotales"></div>    
          	</div>          	
        </div>
    </section>
    	
		<!-- Footer -->
		<div th:insert="templates/footer :: footer"></div>
		
  </div><!-- Fin container principal -->

  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  
</body>
</html>