<div th:fragment="adminTotales">
	<table id="tablaAdminTotales" class="dataTable display compact">
		<thead>
			<tr>			
				<th>Nombre</th>
				<th>Apellido1</th>
				<th>Apellido2</th>
				<th>Nick</th>
				<th>Email</th>
				<th></th>				
			</tr>
		</thead>
 		<tr data-th-each="admin : ${listaAdmins}">
	        <td data-th-text="${admin.nombre}">...</td>
	        <td data-th-text="${admin.apellido1}">...</td>
	        <td data-th-text="${admin.apellido2}">...</td>
	        <td data-th-text="${admin.nick}">...</td>	                
	        <td data-th-text="${admin.email}">...</td>
	        <td><a class="nav-item nav-link" th:href="@{adminDetail(id_user=${admin.id_user})}"
						    href="#">Perfil</a></td>	        
    	</tr>
	</table>
</div>