<div th:fragment="clientesTotales">


	<table id="tablaClientesTotales" class="dataTable display compact">
		<thead>
			<tr>			
				<th>Nombre</th>
				<th>Apellido1</th>
				<th>Apellido2</th>
				<th>Nick</th>
				<th>Email</th>
				<th></th>
				<th></th>				
			</tr>
		</thead>
 		<tr data-th-each="cliente : ${listaClientes}">
	        <td data-th-text="${cliente.nombre}">...</td>
	        <td data-th-text="${cliente.apellido1}">...</td>
	        <td data-th-text="${cliente.apellido2}">...</td>	        
	        <td data-th-text="${cliente.nick}">...</td>	                
	        <td data-th-text="${cliente.email}">...</td>	        	        
	        <td>
	        <div class="form-check">
  					<input class="form-check-input" type="checkbox" name="isActive"  th:value="${cliente.isActive}" th:checked="${cliente.isActive}" id="inputActive" disabled >
  					<label class="form-check-label" for="inputActive">Activo</label>
				</div>
	        </td>       	        
	        <td><a class="nav-item nav-link" th:href="@{clientDetail(id_user=${cliente.id_user})}"
						    href="#">Perfil</a></td>	        
    	</tr>
	</table>
</div>