<div th:fragment="pedidosTotales">


	<table id="tablaPedidosTotales" class="dataTable display compact">
		<thead>
			<tr>
				
				<th>Fecha Pedido</th>
				<th>Remitente</th>
				<th>Destinatario</th>
				<th>Status Pedido</th>
				<th>Comentarios</th>
				<th></th>
				
			</tr>
		</thead>
 		<tr data-th-each="pedido : ${listaPedidos}">
 				    	
	        <td data-th-text="${#temporals.format(pedido.fechaPedido, 'dd-MM-yyyy')}">...</td>	        
	        <td data-th-text="${pedido.nombre_remitente}">...</td>
	        <!-- <td data-th-text="${pedido.dir_remitente}">...</td>
	        <td data-th-text="${pedido.telefono_remitente}">...</td> -->
	        <td data-th-text="${pedido.nombre_destinatario}">...</td>
	        <!-- <td data-th-text="${pedido.dir_destinatario}">...</td>
	        <td data-th-text="${pedido.telefono_destinatario}">...</td> -->
	        <td data-th-text="${pedido.status}">...</td>
	        <td data-th-text="${pedido.comentarios}">...</td>
	        <!-- <td data-th-text="${#temporals.format(pedido.fecha_entregado, 'dd-MM-yyyy')}">...</td>        
	        <td data-th-text="${pedido.cliente.nick}">...</td>
	        <td data-th-text="${pedido.rider.nick}">...</td> -->
	        	        	        
	        <td><a class="nav-item nav-link" th:href="@{orderDetail(id_pedido=${pedido.id_pedido})}"
						    href="#">Detalles</a></td>	        
    	</tr>
	</table>
</div>