<!-- HEADER PARA LAS PAGINAS tipo CLIENTES. INCLUYE Mensaje Bienvenida cliente y logout -->
<header>    
  <div class="row">
    <div class="col-12 col-sm-4 col-md-2 bg-primary">Logo</div>
    <div class="col-12 col-sm-8 col-md-10 bg-info">
       <div class="d-flex justify-content-around">
       <div class="p-1"><a href="../clients/clientProfile.html">Bienvenido, cliente: "Nombre Cliente"</a></div>
       <div class="p-1"><a href="#">Logout [Modal o popover con confirmación]</a></div>       
        </div>
    </div>
  </div>      
</header>  