<div th:fragment="headerAdmin">
<meta charset="utf-8">
<!-- header -->
	<header>
		<div class="row">
			<div class="col-12 col-sm-4 col-md-2 bg-light text-center border border-2">
				<img class="img-fluid" src="../img/logoRecortado.png" width="100px"	alt="logo de la aplicacion">
			</div>

			<div class="col-12 col-sm-8 col-md-10 bg-light align-self-center">
				<div class="d-flex justify-content-between border border-2">
					<div class="p-1">
						<a class="text-dark text-decoration-none" th:href="@{/admin/adminList}" href="#" th:text="'Bienvenid@, ' +${nick}+ '!'">Bienvenido, Nombre Admin</a>						
					</div>
					<div class="p-1">
						<a class="text-dark text-decoration-none" href="#modalLogout" data-toggle="modal">Logout</a>
					</div>
					<!-- MODAL LOGOUT -->
					<div class="modal" id="modalLogout" tabindex="-1" role="dialog" aria-labellebdy="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header ">
									<h4>LogOut</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">
									<form th:action="@{/logout}" method="post">
										<h4>¿Está seguro de querer salir del sistema?</h4>										
										<input type="submit" class="btn btn-danger" value="LogOut">
										<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>										
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</header>		
</div>