<!-- HEADER PARA LAS PAGINAS INDEX, SIGNUP, LOGIN Y CONTACT-->
<header>    
      <div class="row">        
        <div class="col-12 col-sm-4 col-md-2 bg-light text-center border border-2">
          <img class="img-fluid" src="./img/logoRecortado.png" width="100px" alt="logo de la aplicacion">
        </div>
        <!-- IncludeHTML. Texto Personalizado desde cada página -->
        <div class="col-12 col-sm-8 col-md-10 bg-light align-self-center">
          <div id="UserMessageHeader"class="d-flex justify-content-between border border-2"></div> 
        </div>
      </div>      
</header>