<div th:fragment="loginError">
<meta charset="utf-8">
	
		<section class="indexBodyRegister">
			<div class="row h-50"></div>			
			<div class="row h-50">			
				<div class="col-12 col-md-6 col-lg-4 bg-light"></div>
				<div class="col-12 col-md-6 col-lg-4 bg-light">
					<h5 class="bg-danger text-center">Usuario o Contraseña Erróneos. Inténtelo otra vez</h5>
					<div class="text-center">					
						<a href="#"	th:href="@{login}">
							<button class="btn btn-primary" autofocus>VOLVER</button>
						</a>
					</div>
				</div>
				<div class="col-12 col-lg-4 d-none d-lg-block bg-light"></div>
			</div>			
		</section>


