<div th:fragment="navbarClientes">
<meta charset="utf-8">
<!-- navbar -->
<div class="row">
			<nav class=" col-12 navbar navbar-expand-md navbar-light bg-light p0">
				<a class="navbar-brand">Clientes</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a class="nav-item nav-link active" th:href="@{/clientes/history}"
							href="#">Histórico Pedidos<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" th:href="@{/clientes/profile}"
							href="#">Perfil</a> <a class="nav-item nav-link"
							th:href="@{/clientes/orders}" href="#">Pedidos</a>
						<!-- <a class="nav-item nav-link" href="../contact.html?origin=clientProfile">Contacto</a> -->
					</div>
				</div>
			</nav>
		</div>