<div th:fragment="navbarRiders">
<meta charset="utf-8">
<!-- navbar -->
<div class="row">
	<nav class=" col-12 navbar navbar-expand-md navbar-light bg-light p0">
		<a class="navbar-brand">Riders</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">					
				<a class="nav-item nav-link active" th:href="@{/riders/history}"
					href="#">Histórico Pedidos<span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" th:href="@{/riders/profile}"
					href="#">Perfil</a> 
				<a class="nav-item nav-link" th:href="@{/riders/available}"
				 	href="#">Disponibles</a>
				<a class="nav-item nav-link" th:href="@{/riders/entregas}"
				 	href="#">Entregas</a>				 	
				 			
				<div th:if="${session.tipoUsuario == 'ADMIN'}">
					<a class="nav-item nav-link" th:href="@{/admin}" href="#">Volver a ADMIN</a>
				</div>						 
										
			</div>
		</div>
	</nav>
</div>
</div>