        <nav class="navbar navbar-expand-md navbar-light bg-light border border-2"> 
         <!-- Usar Fixed Top o Sticky Top, manteniendo el header visible -->
        <a class="navbar-brand p-2 border border-2" href="./adminAdminsAdminList.html">Administracion</a>           
        <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto border border-2" >                  
            <a class="nav-item nav-link active" href="adminOrdersOrderList.html">Pedidos<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="adminClientsClientList.html">Clientes</a>                  
            <a class="nav-item nav-link" href="adminRidersRiderList.html">Riders</a>
            <a class="nav-item nav-link" href="adminAdminsAdminList.html">Administración</a>            
            <a class="nav-item nav-link" href="../clients/clientHistory.html?origin=admin">Area Clientes</a>                 
            <a class="nav-item nav-link" href="../riders/riderHistory.html?origin=admin">Area Riders</a>                 
          </div>
        </div>      
        </nav>     
     
