<!doctype html>
<html lang="es">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<!-- Custom css  -->
<link rel="stylesheet" href="../css/styles.css">
<title>RidersClientHistory</title>
</head>

<body>
	<div class="container-fluid">
		<!-- HEADER PARA LAS PAGINAS tipo CLIENTES. INCLUYE Mensaje Bienvenida cliente y logout -->
		<header>
			<div class="row">
				<div
					class="col-12 col-sm-4 col-md-2 bg-light text-center border border-2">
					<img class="img-fluid" src="../img/logoRecortado.png" width="100px"
						alt="logo de la aplicacion">
				</div>

				<div class="col-12 col-sm-8 col-md-10 bg-light align-self-center">
					<div class="d-flex justify-content-between border border-2">
						<div class="p-1">
							<a  class="text-dark text-decoration-none" th:href="@{/clientes/profile}" href="#">Bienvenido,
								cliente: "Nombre Cliente"</a>
						</div>

						<div class="p-1">
							<a class="text-dark text-decoration-none" href="#">Logout [Modal o popover con confirmación]</a>
						</div>
					</div>
				</div>
			</div>
	</div>
	</header>

	<div class="row">
		<nav class=" col-12 navbar navbar-expand-md navbar-light bg-light p0">
			<a class="navbar-brand">Clientes</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link active" th:href="@{/clientes/history}"
						href="#">Histórico Pedidos<span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" th:href="@{/clientes/profile}"
						href="#">Perfil</a> <a class="nav-item nav-link"
						th:href="@{/clientes/orders}" href="#">Pedidos</a>
					<!-- <a class="nav-item nav-link" href="../contact.html?origin=clientProfile">Contacto</a> -->
				</div>
			</div>
		</nav>
	</div>

	<!-- Cuerpo Principal -->
	<section>
		<div class="row indexBody">
			<div class="col-12 col-md-8 bg-light">
				1Columna
				<h2>Histórico Pedidos</h2>
				<p>Tabla con el histórico de pedidos del cliente</p>
				<p>los campos que apareceran dependerán del tamaño de la
					pantalla</p>

			</div>
			<div class="col-12 col-md-4 bg-success">
				<p>selectores de filtrado para la tabla</p>
				<p>Se ponen debajo cuando el tamaño de pantalla es más pequeño</p>

			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer class="footer row">
		<div class="col-12 bg-dark text-white text-center">CopyRight&copy;
			2020. J. Carlos Menéndez Martínez. Proyecto DAW CIFP La Laboral
			(Gijón)</div>
	</footer>

	</div>
	<!-- Fin container principal -->

	<script src="../js/jquery-3.5.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>

</body>
</html>