<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="../css/bootstrap.min.css"> 
 
 <!-- Custom css  -->
<link rel="stylesheet" href="../css/styles.css">
  <title>RidersClientOrder</title>
</head>

<body>
  <div class="container-fluid">
    <!-- HEADER PARA LAS PAGINAS tipo CLIENTES. INCLUYE Mensaje Bienvenida cliente y logout -->
		<header>
			<div class="row">
				<div
					class="col-12 col-sm-4 col-md-2 bg-light text-center border border-2">
					<img class="img-fluid" src="../img/logoRecortado.png" width="100px"
						alt="logo de la aplicacion">
				</div>

				<div class="col-12 col-sm-8 col-md-10 bg-light align-self-center">
					<div class="d-flex justify-content-between border border-2">
						<div class="p-1">
							<a class="text-dark text-decoration-none" th:href="@{/clientes/profile}" href="#">Bienvenido,
								cliente: "Nombre Cliente"</a>
						</div>

						<div class="p-1">
							<a class="text-dark text-decoration-none" href="#">Logout [Modal o popover con confirmación]</a>
						</div>
					</div>
				</div>
			</div>
	</div>
	</header>
          <div class="row">
      <nav class=" col-12 navbar navbar-expand-md navbar-light bg-light p0">
        <a class="navbar-brand">Clientes</a>            
        <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">                  
            <a class="nav-item nav-link active" th:href="@{/clientes/history}" href="#">Histórico Pedidos<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link"  th:href="@{/clientes/profile}" href="#">Perfil</a>                  
            <a class="nav-item nav-link"  th:href="@{/clientes/orders}" href="#">Pedidos</a>
            <!-- <a class="nav-item nav-link" href="../contact.html?origin=clientProfile">Contacto</a> -->                       
          </div>
        </div>
      </nav>    
    </div>
    <!-- Cuerpo Principal -->
    <section>
        <div class="row indexBody">
          <div class="col-12 col-sm-6 col-md-4 bg-light">1Columna
              <h2>Pedido</h2>
              <p>formulario de pedido</p>
              <p>boton de lanzar pedido</p>
          </div>
          <div class="col-12 col-sm-6 d-none d-sm-block  col-md-4 bg-info">
            <h5>Origen</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27520.434383255746!2d-5.694626084361345!3d43.52883681334418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367c66cbf494bf%3A0xbd06d207048d3536!2sGij%C3%B3n%2C%20Asturias!5e0!3m2!1ses!2ses!4v1604647933150!5m2!1ses!2ses" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                      
            <h5>Destino</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27520.434383255746!2d-5.694626084361345!3d43.52883681334418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367c66cbf494bf%3A0xbd06d207048d3536!2sGij%C3%B3n%2C%20Asturias!5e0!3m2!1ses!2ses!4v1604647933150!5m2!1ses!2ses" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                      
          </div>
          <div class="col-12 col-md-4 d-none d-md-block bg-success">3Columna
            <img src="../img/amazon.PNG" alt="">
            <img src="../img/seur.PNG" alt="">
              
            </div>
        </div>
    </section>
    <!-- Footer -->
		<footer class="footer row">
			<div class="col-12 bg-dark text-white text-center">CopyRight&copy; 2020. J. Carlos Menéndez Martínez. Proyecto DAW CIFP La Laboral (Gijón)</div>
		</footer> 
  
  </div><!-- Fin container principal -->

  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  
</body>
</html>