<!doctype html>
<html lang="es" xmlns:th="thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Custom css  -->
<link rel="stylesheet" href="./css/styles.css">
  
  <title>Contact</title>
</head>
<body class="bg-light">
  <div class="container-fluid">
         <!-- Header -->
		<div th:insert="templates/headerMaster :: headerInicio"></div>
		<!-- NavBar -->
		<div th:insert="templates/navbarMaster :: navInicio"></div>		
    	<!-- Cuerpo Principal -->
   	 	<section class="indexBody">
			<div class="row  bg-light">
				<div class="col-12 col-sm-4"></div>
				<div class="col-12 col-sm-4 align-self-center ">					
					<h5 class="text-center">Formulario Contacto</h5>					
					<form id="contact-form" name="contact-form" th:action="@{enviar}" method="post">
						<div class="row">
							<div class="col-md-6">
								<div class="md-form mb-0">
									<label for="name" class="">Nombre</label>
									<input type="text" id="name" name="name" class="form-control"
									data-parsley-maxlength="30" required autofocus>									
								</div>
							</div>
							<div class="col-md-6">
								<div class="md-form mb-0">
									<label for="email" class="">Email</label>
									<input type="email" id="email" name="email" class="form-control"
									data-parsley-maxlength="30" data-parsley-type="email" required>									
								</div>
							</div>
						</div><!-- Fin Fila -->
						<div class="row">
							<div class="col-md-12">
								<div class="md-form mb-0">
								 	<label for="subject" class="">Asunto</label>
									<input type="text" id="subject" name="subject" class="form-control"
									data-parsley-maxlength="30" required >
								</div>
							</div>
						</div><!--Fin Fila-->
						<div class="row">
							<div class="col-md-12">
								<div class="md-form">
									<label for="message">Cuéntanos</label>
									<textarea id="message" name="message" rows="8"class="form-control md-textarea"
									data-parsley-maxlength="300" required ></textarea>									
								</div>
							</div>
						</div><!-- Fin Fila -->
					<div class="row text-center">
						<div class="col-md-12">
							<button class="btn btn-lg btn-primary " type="submit">Enviar</button>
							<h5>
								<a class="btn btn-info bg-primary m-2" autofocus
								th:href="@{/index}" href="#">Volver</a>
							</h5>
						</div>
					</div>
					</form>					
				</div>
				<div class="col-12 col-sm-4"></div>
			</div><!-- Fin row -->
		</section>	
		<!-- Footer -->
		<div th:insert="templates/footer :: footer"></div>		
	</div><!-- Fin container Flex -->	
		<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/parsley.min.js"></script>
	<script src="js/es.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
 	<script> 
    		$('#contact-form').parsley();
	</script>
</body>
</html>