<!doctype html>
<html lang="es" xmlns:th="thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Custom css  -->
<link rel="stylesheet" href="./css/styles.css">
 
  <title>RidersLogin</title>
</head>

<body class="bg-light">
   <div class="container-fluid">
     <!-- Header -->
		<div th:insert="templates/headerMaster :: headerInicio"></div>

	<!-- NavBar -->
		<div th:insert="templates/navbarMaster :: navInicio"></div>
		
      <!-- Cuerpo Principal -->
      	<section class="indexBody">      
        	<div class="row ">
				<div class="col-12 d-sm-block bg-light text-center">
					<h5 class="text-center">Formulario Login</h5>					
				</div>
			</div>

<!-- Si no hay errores de logueo pinta todo el formulario ************************-->
		<div th:if="${param.error == null}">	
			<div class="row ">				
				<div class="col-12 col-sm-4 bg-light"></div>

				<div class="col-12 col-sm-4 bg-light">

					<form th:action="@{/login}" method="post" class="form-signin">
					
					
					
					<!-- CAMBIAR A tipo EMAIL en rpoduccion -->
						<label for="inputEmail">Email address</label> <input type="text"
							id="inputEmail" name="email" class="form-control"
							placeholder="Email address" required autofocus> <label
							for="inputPassword">Password</label> <input type="password"
							id="inputPassword" name="password" class="form-control"
							placeholder="Password" required>
				</div>
				
				<div class="col-12 col-sm-4 bg-light"></div>
         	</div>
         	
         <div class="row">
				<div class="col-12 bg-light text-center">
					<button class="btn btn-lg btn-primary " type="submit">Login</button>
					</form>	
		 		</div>
		 </div>
		 </div><!-- Fin "if" de thymelaf sin errores de logueo de Spring Security -->
		 
<!-- Si hay un error de Logueo pinta este fragment ********************************-->
					<div th:if="${param.error != null}">
						<div th:insert="templates/loginError :: loginError"></div>
					</div>
<!-- ****************************************************************************** -->
		 
    </section>
    <!-- Footer -->
		 <div th:replace="templates/footer::footer"></div>
		 
  </div><!-- Fin container principal -->

  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

</body>
</html>