<!doctype html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="../css/bootstrap.min.css"> 
 <!-- Libreria w3.js -->
 <script src="https://www.w3schools.com/lib/w3.js"></script>

  <!--Estilos css -->
  <style>
.indexBody{
  height: 400px;
}
/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 30px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */  
}

  </style>
  <title>RidersRiderHistory</title>
</head>

<body>
  <div class="container-fluid">
      <!--Header -->
      <div w3-include-html="../templates/headerMaster.html"></div>
      <!--NavBar -->
      <div w3-include-html="../templates/navbarRiders.html"></div>
      <!-- Cuerpo Principal -->
      <section>
        <div class="row indexBody">
          <div class="col-12 col-md-8 bg-light">1Columna
              <h2>Trabajos Disponibles</h2>
              <p>Tabla con trabajos de recogida disponibles</p>
              <p>Tabla con trabajos de entrega disponibles</p>
              <p>En tamaño móvil la tabla se reconstruye y se ven los campos verticalmente</p>              
          </div>
          <div class="col-12 col-md-4 bg-success">
              <p>selectores de filtrado para la tabla de recogidas. se situa debajo con pantallas pequeñas</p>
              <p>selectores de filtrado para la tabla de entregas. Se situa debajo con pantallas pequeñas</p>              
              <p>Botón para validar selección. Se situa debajo con pantallas pequeñas y se muestra a la izda.</p>              
            </div>
        </div>
    </section>
    <footer class="footer row">
          <div class="col-12 bg-dark text-white text-center">CopyRight &copy; 2020. J. Carlos Menéndez Martínez. Proyecto DAW CIFP La Laboral (Gijón)</div>
    </footer>
  </div><!-- Fin container principal -->

  <script src="../js/jquery-3.5.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script>
    //Includes
    w3.includeHTML(function(){    
        $("#UserMessageHeader").html(`<div class="p-1"><a href="../riders/riderProfile.html">Bienvenido, rider: "Nombre Rider"</a></div>
       <div class="p-1"><a href="#">Logout [Modal o popover con confirmación]</a></div>`);
        /* $("a #UserMessageNavBar").html(`Bienvenido`); */
        }); 
        
    </script>
</body>
</html>